<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="Massive.PostGreSQLUnitTests" connectionString="Server=127.0.0.1;Port=5432;Database=massive_unit_tests;User Id=postgres;Password=;" providerName=""/>
  </connectionStrings>

  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider" invariant="Npgsql" support="FF" description=".Net Framework Data Provider for Postgresql Server" type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>
  
</configuration>